


/* .Main{
    display: grid;
    grid-template-columns:40% 60% ;
} */

 /* .Top{
 display: grid;
    grid-template-rows:50% 50% ;
}
.Right{
    display: flex;
    grid-template-rows:50% 50% ;
}  */